# Videos
*.mov
*.off
# Strange file from Mac OS
.DS_Store
# GIS data
*.tiff
*.mlp
# Information
*.txt
*.html
*.txt
*.json
# 3D models
*.gh
*.3dm
*.stp
*.obj
*.blend
*.blend1
*.svg
*.ply
# Folders
/Gh_Results
/Results
/gh_ver_230701
/Pictures_Results
# Images
*.pdf
# Patterns (part of a filename)
*Screenshot*
